@media screen and (max-width: 1240px) {
  .section2-swiper__slide .section2-swiper__slide-img {
    height: 700px;
  }

  .section2-swiper .swiper-button-prev {
    bottom: 370px
  }

  .section2-swiper .swiper-button-next {
    bottom: 370px
  }
}

@media screen and (max-width: 998px) {
  .section2-swiper__slide .section2-swiper__slide-img {
    height: 650px;
  }
  .section2-swiper .swiper-button-prev {
    bottom: 360px
  }

  .section2-swiper .swiper-button-next {
    bottom: 360px
  }
}

@media screen and (max-width: 767px) {
  .gallery-wrap.swiper-gallery .section2-swiper {
    margin: 150px 44px;
  }

  .firstSwiper-section {
    padding: 44px;
  }

  .section2-swiper__slide .section2-swiper__slide-img {
    height: 400px;
  }

  .section2-swiper .swiper-button-prev {
    left: 20px;
    bottom: 240px
  }

  .section2-swiper .swiper-button-next {
    bottom: 240px;
    right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .gallery-wrap.swiper-gallery .section2-swiper {
    margin: 95px 44px;
  }

  .firstSwiper-section__title {
    font-size: 28px;
  }

  .section2-swiper__slide .section2-swiper__slide-img {
    height: 300px;
  }

  .section2-swiper .swiper-button-prev {
    bottom: 190px
  }

  .section2-swiper .swiper-button-next {
    bottom: 190px;
  }
}