@media screen and (max-width: 1024px) {
  .sec10-slider .swiper-wrapper .swiper-slide {
    transform: scale(.9);
    bottom: 00px;
  }

  .sec10-slider .swiper-wrapper .swiper-slide-active {
    bottom: 0px;
  }

  .sec10__add-review {
    bottom: 0;
  }

  .review-modal__content {
    grid-template-columns: 1fr;
  }

  .review-modal__imgBlock {
    grid-row: 1;
    justify-content: center;

    img {
      width: 50%;
    }
  }
}