@media screen and (max-width: 998px) {
  .section3-swiper__slide .section2-swiper_img {
    height: 300px;
  }

  .section3-swiper .swiper-button-next {
    bottom: 235px;
  }

  .section3-swiper .swiper-button-prev {
    bottom: 185px;
  }
}