@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Light.woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Medium.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Regular.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-ExtraBold.woff");
  font-style: normal;
  font-weight: 700;
}