.header-content {
  padding: 10px $gutter;
  display: grid;
  grid-template-columns: 0fr 2fr .8fr .5fr;
  justify-items: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 30px;
}

.list-FH {
  margin: 0px 20px;
  display: flex;
  padding-inline-start: 0px;
  align-items: center;
}

.header-list__block {
  z-index: 9999;
  transition: all .4s;
}

.list-item__FH {
  list-style: none;
  display: flex;

  &[data-gap] {
    margin-right: $gutter;
  }
}

.anchor-FH {
  @include fontz('Montserrat', 500, 14px, normal);
  text-decoration: none;
  color: $colorB-main;
}

.header-callback-btn {
  cursor: pointer;
  @extend %btn-default;
}

.header-phone__btn {
  cursor: pointer;
  text-decoration: none;
  color: $colorB-main;
  @include fontz('Montserrat', 600, 16px, normal);
}

.header-btns_hidden {
  display: none;
}

.header-phone-ico {
  cursor: pointer;
}

.burger-toggle {
  cursor: pointer;
  background-color: #fff;
  border: none;
  
  span {
    margin: 5px;
    display: block;
    width: 22px;
    height: 2px;
    background-color: $colorM-orange;
  }
}

.burger-header__hidden {
  padding: 10px 30px;
  background-color: #fff;
  display: none;
  justify-content: space-between;
}

.burger-btns_hidden {
  display: flex;
  align-items: center;
}