@import './fonts.scss';
@import './vars.scss';
@import './mixins&patterns.scss';
@import '~reset-css/reset.css';

@import './header.scss';
@import './section1.scss';
@import './section2.scss';
@import './section3.scss';
@import './section4.scss';
@import './section5.scss';
@import './section6.scss';
@import './section7.scss';
@import './section9.scss';
@import './section10.scss';
@import './section11.scss';

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  overflow: hidden;
}

section {
  margin-top: $section-gap;
}


@import './media/header-media.scss';
@import './media/section1-media.scss';
@import './media/section2-media.scss';
@import './media/section3-media.scss';
@import './media/section4-media.scss';
@import './media/section5-media.scss';
@import './media/section7-media.scss';
@import './media/section9-media.scss';
@import './media/section10-media.scss';
@import './media/section11-media.scss';


@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}
