@import './fonts.scss';
@import './vars.scss';
@import './mixins&patterns.scss';

@import './header.scss';


.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  margin: 0;
}


@import './media/header-media.scss';




