@import './fonts.scss';
@import './vars.scss';
@import './mixins&patterns.scss';

@import './header.scss';
@import './section1.scss';

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  margin: 0;
}

section {
  margin-top: $section-gap;
}


@import './media/header-media.scss';
@import './media/section1-media.scss';




