@mixin fontz($ff, $fw, $fs, $fst) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  font-style: $fst;
}

%stage-title {
  @include fontz('Montserrat', 600, 18px, normal);
  color: $color-title;
}

%stage-subTitle {
  @include fontz('Montserrat', 500, 16px, normal);
  color: $colorB-main;
}

%stg-border {
  border: 2px solid #E97522;
  box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
  border-radius: 12px;
}

%gradient-filled-btn {
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 10px;
  padding: 10px 40px;
  @include fontz('Montserrat', 600, 16px, normal)
}

%section-title {
  color: $color-title;
  @include fontz('Montserrat', 600, 36px, normal);
  margin-bottom: 40px;
  text-align: center;
}

%btn-default {
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid $colorM-orange;
  border-radius: 10px;
  color: $colorM-orange;
  @include fontz('Montserrat', 600, 16px, normal);
  padding: 10px 25px;
}

%modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-modal__content {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}