.firstSwiper-section {
  padding: $gutter 0;
}

.swiper {
  max-width: 100%;
}

.swiper-gallery {
  background-color: rgba(0, 0, 0, .8);
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-wrap.swiper-gallery .swiper {
  top: 50%;
  transform: translateY(-50%);
  margin: 0px $gutter;
}

.swiper-slide img {
  width: 100%;
  height: 800px;
  transition: all .4s;
}

.swiper-button-next {
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url("../assets/images/arrowNext.png");
  background-repeat: no-repeat;
  bottom: 360px;
  z-index: 10;
  right: 70px;
  background-position: 15px;
}

.swiper-button-prev {
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 360px;
  z-index: 10;
  left: 70px;
  background-image: url("../assets/images/arrowPrev.png");
  background-repeat: no-repeat;
  background-position: 10px;

}

.swiper-slide {
  opacity: 0;
}

.swiper-slide-active, .swiper-slide-next, .swiper-slide-prev{
  opacity: 1;
}


.swiper-slide img{
  transform: scale(.8);
}

.swiper-slide-active img{
  transform: scale(1.01);
}

.swiper-slide-active {
  z-index: 100;
}

.firstSwiper-section__title {
  @include fontz('Montserrat', 600, 36px, normal);
  margin-bottom: 40px;
  text-align: center;
}