.photoshoot-price__title {
  @extend %section-title;
}

.photoshoot-price__content {
  padding: $gutter;
}

.photoshoot-cards__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.photoshoot-packet {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $gutter;
  border-radius: 16px;
  overflow: hidden;
}

.photoshoot-packet[data-packet='maxi'] {
  background: #F5D9C6;
}

.photoshoot-packet[data-packet='standart'] {
  background: #F9F4EE;
}

.photoshoot-packet[data-packet='mini'] {
  background: #F2F4F4;
}

.photoshoot-packet {
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.03);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -60px;
    right: -60px;
  }

  &::after {
    content: '';
    background: rgba(0, 0, 0, 0.05);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 100px;
  }
}

.photoshoot-packet__options-list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.photoshoot-packet__list-item {

  @include fontz('Montserrat', 500, 16px, normal);
  color: $colorB-main;
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;

  img {
    margin-right: 10px;
  }
}

.photoshoot-packet__title {
  margin-block-end: 0em;
  text-transform: uppercase;
  @include fontz('Montserrat', 600, 18px, normal);
  color: $colorB-main;
}

.photoshoot-packet__price {
  margin-block-start: 15px;
  margin-block-end: 6px;
  @include fontz('Montserrat', 700, 36px, normal);
  color:  $color-title;
}

.photoshoot-packet__location {
  margin-block-start: 0em;
  @include fontz('Montserrat', 600, 14px, normal);
  color: $colorB-light;
}

.services__title {
  text-align: center;
  @include fontz('Montserrat', 600, 16px, normal);
  color: $color-title;
}

.photoshoot-packet__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-btns__block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;

}

.services-btn {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  @include fontz('Montserrat', 500, 12px, normal);
  color: $color-title;
}

.service-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 50000;
  display: none;
  transition: all .4s;
  justify-content: center;
  align-items: center;
}

.service-modal.service-modal__active {
  display: flex;
}

.service-modal__content {
  padding: $gutter;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
}

.input-service-block {
  width: 70%;
  margin: 20px;

  input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #DDDEE4;
    border-radius: 5px;
    color: #121621;
    margin-bottom: 20px;
  }
}

.service-modal__title {
  margin-block-end: 0;
  text-align: center;
  @include fontz('Montserrat', 600, 36px, normal);
  color: $color-title;
}

.input-service__title {
  @include fontz('Montserrat', 500, 16px, normal);
  color: #121621;
  opacity: 0.4;
}

.service-modal__submit {
  cursor: pointer;
  width: 100%;
  @extend %gradient-filled-btn;
}

.service-modal__close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: #fff;
  font-size: 22px;
}

.photoshoot-packet__btn {
  margin-top: 20px;
  @extend %gradient-filled-btn;
}