.firstSwiper-section {
  padding: $gutter 0;
}

.swiper {
  max-width: 100%;
}

.swiper.slider-active {
  z-index: 200;
  position: fixed;
  height: 100%;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.swiper-gallery {
  background-color: rgba(0, 0, 0, .8);
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-wrap.swiper-gallery .swiper {
  margin: 85px auto;
  max-width: 900px;
}

.section2-swiper__slide .section2-swiper__slide-img {
  width: 100%;
  height: 800px;
  transition: all .4s;
}

.section2-swiper .swiper-button-next {
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url("../assets/images/arrowNext.png");
  background-repeat: no-repeat;
  bottom: 450px;
  z-index: 10;
  right: 70px;
  background-position: 18px;
}

.section2-swiper .swiper-button-prev {
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 450px;
  z-index: 10;
  left: 70px;
  background-image: url("../assets/images/arrowPrev.png");
  background-repeat: no-repeat;
  background-position: 14px;
}

.section2-swiper__slide {
  opacity: 0;
}

.swiper-slide-active, .swiper-slide-next, .swiper-slide-prev{
  opacity: 1;
}


.section2-swiper__slide .section2-swiper__slide-img{
  transform: scale(.8);
}

.swiper-slide-active .section2-swiper__slide-img{
  transform: scale(1.01);
}

.swiper-slide-active {
  z-index: 100;
}

.firstSwiper-section__title {
  @include fontz('Montserrat', 600, 36px, normal);
  margin-bottom: 40px;
  text-align: center;
}

.section2-swiper
.swiper-pagination {
  margin-top: $gutter;
  width: 100%;
  display: flex;
  justify-content: center;

}

.section2-swiper
.swiper-pagination
.swiper-pagination-bullet {
  cursor: pointer;
  margin: 10px;
  border-radius: 50%;
  display: block;
  background: #B1B1B1;
  width: 7px;
  height: 7px;
}

.section2-swiper
.swiper-pagination
.swiper-pagination-bullet-active {
  background: #E97522;
  width: 9px;
  height: 9px;
}