.letter-section__title {
  @extend %section-title;
}

.letter-section__content {
  background: #F9F4EE;
  padding: $gutter;
  margin: 10px;
}

.letter-section__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.letter-body__info {
  padding-top: $gutter;
  display: flex;
  flex-direction: column;
}

.letter-body__info-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  @include fontz('Montserrat', 500, 14px, normal);
  letter-spacing: 1px;
  color: #C1C1C1;
}

.letter-body__info-subTitle {
  margin-bottom: 60px;
  @include fontz('Montserrat', 600, 48px, normal);
  color: $colorB-main;
  max-width: 470px;
  margin-block-start: 10px;
}

.letter-body__info-list {
  display: flex;
  padding-inline-start: 0px;
  flex-direction: column;
}

.letter-body__list-item {
  @include fontz('Montserrat', 600, 16px, normal);
  color: $colorB-main;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;

  img {
    margin-right: 10px;
  }
}

.letter-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  img {
    width: 60%;
    object-fit: cover;
  }
}

.letter-title {
  @include fontz('Montserrat', 500, 16px, normal);
  margin-top: $gutter;
  max-width: 330px;
  color: $color-title;
  text-align: center;
}

.letter-button {
  cursor: pointer;
  margin-top: $gutter;
  width: 340px;
  @extend %gradient-filled-btn;
}

.letter-modal {
  transition: all .3s;
  @extend %modal;
  opacity: 0;
  visibility: hidden;
}

.letter-modal__content {
  position: relative;
  border-radius: 15px;
  margin: 20px;
  padding: $gutter;
}

.letter-modal-imgBlock {
  @extend %modal-imgBlock;
  justify-content: start;
}

.letter-modal__info {
  display: flex;
  flex-direction: column;
}

.letter-modal__title {
  @extend %modal-title;
}

.letter-modal__form {
  @extend %modal-form;
}

.field-block {
  @extend %modal-field__block;
}

.field-title {
  @extend %modal-field__title;
}

.field-input {
  @extend %modal-field__input
}

.letter-modal__btn {
  @extend %modal-btn;
}

.letter-modal__subInfo {
  @extend %modal-agreeText;
}

.letter-modal__close {
  @extend %modal-close;
}

.letter-modal.letter-active {
  opacity: 1;
  visibility: visible;
}