.secondSwiper-section {
  padding: $gutter;
}

.secondSwiper-section
.section3-swiper {
  margin: $gutter;
  //overflow: visible;
}

.secondSwiper-section__title {
  @extend %section-title;
}

.section3-swiper {
  max-width: 100%;
}

.section3-swiper__slide .section2-swiper_img {
  border-radius: 20px;
  width: 100%;
  height: 400px;
  transition: all .4s;
}

.section3-swiper .swiper-button-prev {
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 225px;
  z-index: 200;
  background-image: url("../assets/images/arrowPrev.png");
  background-repeat: no-repeat;
  background-position: 13px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  left: 10px;
}

.section3-swiper .swiper-button-next {
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 275px;
  z-index: 200;
  background-image: url("../assets/images/arrowNext.png");
  background-repeat: no-repeat;
  background-position: 18px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  float: right;
  right: 10px;
}

.secondSwiper-section__button {
  cursor: pointer;
  padding: 15px 50px;
  @extend %gradient-filled-btn;
  font-size: 14px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


.secondSwiper-gallery_block.secondSwiper-gallery_block--active {
  z-index: 400;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondSwiper-gallery_block.secondSwiper-gallery_block--active .section3-swiper {
  margin-top: 100px;
  max-width: 1000px;
}

.secondSwiper-gallery_block.secondSwiper-gallery_block--active .section2-swiper_img {
  height: 650px;
}

.secondSwiper-gallery_block.secondSwiper-gallery_block--active .section3-swiper .swiper-button-next {
  bottom: 420px;
}

.secondSwiper-gallery_block.secondSwiper-gallery_block--active .section3-swiper .swiper-button-prev {
  bottom: 366px;
}